/* Reset do CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FFF0F5;
    /* background-image: url(); 
    background-size: auto 100vh*/
    font-family: 'Roboto', sans-serif;
    height: 100vh;
  }

  /* Breakpoint
  Quando a tela tiver a partir de 400px vai carregar esses estilos: */
  @media (min-width: 400px) {
    body {
      font-size: 14px;
}
  }

  @media (min-width: 600px) {
    body {
      font-size: 16px;
}
  }

  @media (min-width: 800px) {
    body {
      font-size: 18px;
}
  }

  @media (min-width: 1000px) {
    body {
      font-size: 20px;
}
  }

  header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu {
    background-color: #696969;
    position: fixed;
    width: 100vw;
    top: 0;
  }

  .menu a {
    display: block;
    padding: 10px 20px;
    /* background: #D3D3D3; */
  }
  
  a {
    color: #C0C0C0;
    text-decoration: none;
    font-family: 'Carter One', cursive;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none;
  }
  
  .site-subtitle,
  .site-title {
    text-align: center;
    color: #DB7093;
    font-family: 'Handlee', cursive;
  }
  
  .site-subtitle {
    font-style: bold;
    line-height: 1.5em;
  }

  .site-title {
    font-size: 3em;
  }

  .formacao {
    padding: 2em;
    height: 100vh;
  }

  .formacao h2 {
    font-family: 'Crushed', cursive;
    color: #696969;
    font-size: 2.2em;
    margin-bottom: 1em;
  }

  @media (min-width: 560px) {
    .formacao .grid {
      display: grid;
      gap: 1.5em;
      grid-template-columns: repeat(2, 240px);
      align-content: center;
      justify-content: center;
      height: calc(100vh - 5.5em - 40px - 1em);
    }
  }

  .formacao figure {
    text-align: center;
  }

  .img-formacao {
    height: 150px;
    width: auto;
    object-fit: cover;
  }